dist: bionic
sudo: required

before_script:
   - sudo apt-get -qq update
   - sudo apt-get install -qq build-essential cmake libfftw3-dev libmbedtls-dev libpcsclite-dev libboost-program-options-dev libconfig++-dev libsctp-dev colordiff clang-format

language: cpp

arch:
  - amd64
  - arm64

os: linux

script:
 - ls -l /usr/bin/clang*
 - git remote set-branches --add origin master
 - git fetch
 - |
   if [[ "$TRAVIS_PULL_REQUEST" != "false" ]]; then
     # Run only for PRs because target branch is needed to do the clang-format check
     echo "Checking clang-format between TRAVIS_BRANCH=$TRAVIS_BRANCH and TRAVIS_PULL_REQUEST_BRANCH=$TRAVIS_PULL_REQUEST_BRANCH"
     ./run-clang-format-diff.sh "$TRAVIS_BRANCH" "$TRAVIS_PULL_REQUEST_BRANCH"
   else
     echo "Skipping clang-format check"
   fi
 - mkdir build
 - cd build
 - cmake -DRF_FOUND=True ..
 - make
 - make test
 - sudo make install
